@media (min-width:1200px) {
  .header {
    margin: 10px 10px;
    justify-content: space-around;
  }

  .header__logo {
    width: 250px;
    height: 50%;
  }

  .header__logo img {
    width: 100%;
    height: 100%;
  }

}

@media (min-width:990px) and (max-width:1200px) {
  .header {
    margin: 10px 10px;
    justify-content: space-around;
  }

  .header__logo {
    width: 250px;
    height: 50%;
  }

  .header__logo img {
    width: 100%;
    height: 100%;
  }

  .phones__number {
    display: inline-block;
    background-image: none;
  }

  .phones {
    padding-left: 30px;
  }

  .header__phones {
    margin: 0 5px;
  }

  .header__search {
    position: absolute;
    right: 0px;
  }

  .features::after {
    top: 14%;
  }

  .trust__partners img{
    width: 70%;
    height: 70%;
    padding: 0;
  }

  .footer__navigation {
    padding: 0 19% 30px 20%;
  }

  .button__up {
    right: 23px;
  }
}

@media (min-width:768px) and (max-width:989px) {
  .header {
    margin: 10px 10px;
    justify-content: space-around;
  }

  .header__logo {
    width: 250px;
    height: 50%;
  }

  .header__logo img {
    width: 100%;
    height: 100%;
  }

  .header__phones {
    margin: 0 10px;
  }

  .header__languages {
    margin: 0 10px;
  }

  .phones {
    background-size: 19%;
    padding-left: 30px;
  }

  .phones__title {
    display: block;
    visibility: visible;
    font-size: 10px;
  }

  .phones__media {
    display: none;
    visibility: hidden;
  }

  .phones__number {
    font-weight: normal;
    font-size: 10px;
    background-size: 10%;
    background-image: none;
    display: inline-block;
  }

  .main-navigation {
    flex-wrap: wrap;
  }

  .header__search {
    position: absolute;
    right: 3%;
    top: 50%;
  }

  .showcase__item {
    right: 5%;
  }

  .trust__partners img {
    width: 100%;
  }

  .footer__navigation {
    grid-template-columns: repeat(3, auto);
  }

  .button__up {
    right: 15px;
  }
}

@media (min-width:499px) and (max-width:767px) {
  h2 {
    font-size: 20px;
  }

  p {
    font-size: 17px;
    font-weight: normal;
    line-height: 1.2;
  }

  .header {
    justify-content: space-around;
  }

  .header__logo {
    width: 250px;
    height: 50%;
  }

  .header__logo img {
    width: 100%;
    height: 100%;
  }

  .header__gumburger {
    visibility: visible;
  }

  #menu__toggle {
    opacity: 0;
  }

  .menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 10px;
    right: 20px;
    width: 26px;
    height: 26px;
    cursor: default;
    z-index: 1;
  }

  .menu__btn > span,
  .menu__btn > span:before,
  .menu__btn > span:after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #e6362c;
  }

  .menu__btn > span:before {
    content: '';
    top: -8px;
  }

  .menu__btn > span::after {
    content: '';
    top: 8px;
  }

  .main-navigation {
    text-transform: none;
    display: block;
    position: fixed;
    visibility: hidden;
    top: 60px;
    right: -50%;
    width: 150px;
    height: 30%;
    margin: 0;
    text-align: center;
    background-color: #fff;
    transition-duration: .25s;
  }

  .main-navigation__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    text-decoration: none;
  }

  .main-navigation__item:hover {
    color: #e6362c;
  }

  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }

  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }

  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }

  #menu__toggle:checked ~ .main-navigation {
    visibility: visible;
    z-index: 1;
    right: 0;
    opacity: 0.8;
  }

  .phones {
    background-image: none;
    padding: 0;
  }

  .phones__media {
    display: block;
    visibility: visible;
    font-size: 11px;
    font-weight: normal;
    color: #e6362c;
  }

  .phones__number {
    font-weight: normal;
    font-size: 11px;
    background-image: none;
  }

  .phones__title {
    display: none;
  }

  .header__languages {
    display: block;
  }

  .header__search {
    display: none;
  }

  .showcase__item {
    top: 30%;
    right: 9%;
    max-width: 301px;
  }

  .showcase__item span {
    font-size: 25px;
  }

  .button {
    font-size: 14px;
    padding: 10px 10px;
  }

  .features {
    grid-template-columns: repeat(2, auto);
  }

  .features:after {
    top: 15%;
  }

  .trust__partners img{
    width: 80%;
    height: 80%;
    padding: 0 10px;
  }

  .footer__navigation {
    grid-template-columns: repeat(3, auto);
    grid-gap: 2rem;
  }

  .footer__social {
    padding-bottom: 15px;
  }

  .footer__copyright {
    padding-bottom: 20px;
  }

  .button__up {
    right: 18px;
  }
}

@media (min-width:320px) and (max-width:500px) {
  .header {
    margin: 10px;
    justify-content: space-around;
  }

  .header__logo {
    width: 250px;
    height: 50%;
  }

  .header__logo img {
    width: 100%;
    height: 100%;
  }
}
