/* @media (min-width:1025px) and (max-width:1300px) {
    .header__gumburger {
      visibility: visible;
    }

    .header__navigation {
      padding-top: 0;
      margin-top: 0;
    }

    .header__languages {
      margin-right: 10px;
      padding-top: 5px;
    }

    #menu__toggle {
      opacity: 0;
    }

    .menu__btn {
      align-items: center;
      cursor: default;
      z-index: 1;
    }

    .menu__btn > span,
    .menu__btn > span:before,
    .menu__btn > span:after {
      display: block;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #e6362c;
    }

    .main-navigation__item:hover {
      color: #e6362c;
    }

    #menu__toggle:checked ~ .menu__btn > span {
      transform: rotate(45deg);
    }

    #menu__toggle:checked ~ .menu__btn > span::before {
      top: 0;
      transform: rotate(0);
    }

    #menu__toggle:checked ~ .menu__btn > span::after {
      top: 0;
      transform: rotate(90deg);
    }

    #menu__toggle:checked ~ .main-navigation {
      visibility: visible;
      z-index: 1;
      right: 0;
      opacity: 0.8;
      top: 109px;
    }
} */

@media (min-width:768px) and (max-width:1300px) {
  .header {
    justify-content: space-around;
    margin: 10px;
  }

  .header__logo {
    padding-top: 0;
    margin-right: 10px;
  }

  .header__phones {
    margin-right: 0;
    padding-top: 10px;
  }

  .phones__title {
    display: block;
    visibility: visible;
    font-size: 10px;
  }

  .phones__media {
    display: none;
    visibility: hidden;
  }

  .header__gumburger {
    visibility: visible;
  }

  .header__navigation {
    padding-top: 0;
    margin-top: 0;
  }

  .header__languages {
    margin-right: 10px;
    padding-top: 5px;
  }

  #menu__toggle {
    opacity: 0;
  }

  .menu__btn {
    display: flex;
    align-items: center;
    position: relative;
    width: 26px;
    height: 26px;
    cursor: default;
    z-index: 1;
  }

  .menu__btn > span,
  .menu__btn > span:before,
  .menu__btn > span:after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #e6362c;
  }

  .menu__btn > span:before {
    content: '';
    top: -8px;
  }

  .menu__btn > span::after {
    content: '';
    top: 8px;
  }

  .main-navigation {
    text-transform: none;
    display: block;
    position: fixed;
    visibility: hidden;
    top: 60px;
    right: -50%;
    width: 150px;
    margin: 0;
    text-align: center;
    background-color: #fff;
    transition-duration: .25s;
  }

  .main-navigation__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    text-decoration: none;
  }

  .main-navigation__item:hover {
    color: #e6362c;
  }

  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }

  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }

  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }

  #menu__toggle:checked ~ .main-navigation {
    visibility: visible;
    z-index: 1;
    right: 0;
    opacity: 0.8;
    top: 81px;
  }

  .header__search {
    display: none;
  }
  .showcase__item {
    right: 0;
  }

  .features {
    grid-template-columns: repeat(2, auto);
  }

  .features:after {
    top: 23%;
  }

  .products {
    padding-left: 10px;
    padding-right: 20px;
  }

  .production {
    padding-top: 42px;
  }

  .trust__block {
    padding: 0 20px;
  }

  .footer__logo {
    padding: 50px 0 26px 17px;
  }

  .footer__navigation {
    grid-template-columns: repeat(3, auto);
    padding: 0 0 30px 0;;
  }

  .footer__copyright {
    padding-bottom: 30px;
  }

  .button__up {
    right: 20px;
  }
}

@media (min-width:499px) and (max-width:767px) {
  h2 {
    font-size: 29px;
  }

  p {
    font-size: 17px;
    font-weight: normal;
    line-height: 1.2;
    padding-top: 15px;
  }

  .header {
    justify-content: space-around;
    margin: 10px;
  }

  .header__logo {
    margin: 0;
    padding: 0;
 }

  .header__navigation {
    padding-top: 0;
    margin-top: 0;
  }

  .header__phones {
    margin: 0;
    padding: 0;
  }
  .phones {
    background: none;
    padding: 0;
    height: 20px;
  }

  .phones__number {
    background: none;
  }

  .languages {
    background: none;
  }

  .languages a {
    padding: 0 6px 0 25px;
  }

  .header__languages {
    margin: 0;
    padding: 0;
  }
  .header__gumburger {
    visibility: visible;
  }

  #menu__toggle {
    opacity: 0;
  }

  .menu__btn {
    display: flex;
    align-items: center;
    position: relative;
    width: 26px;
    height: 26px;
    cursor: default;
    z-index: 1;
  }

  .menu__btn > span,
  .menu__btn > span:before,
  .menu__btn > span:after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #e6362c;
  }

  .menu__btn > span:before {
    content: '';
    top: -8px;
  }

  .menu__btn > span::after {
    content: '';
    top: 8px;
  }

  .main-navigation {
    text-transform: none;
    display: block;
    position: fixed;
    visibility: hidden;
    top: 60px;
    right: -50%;
    width: 150px;
    margin: 0;
    text-align: center;
    background-color: #fff;
    transition-duration: .25s;
  }
  .main-navigation__item__title a {
    color: #000;
  }

  .main-navigation__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    text-decoration: none;
  }

  .main-navigation__item:hover {
    color: #e6362c;
  }

  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }

  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }

  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }

  #menu__toggle:checked ~ .main-navigation {
    visibility: visible;
    z-index: 1;
    right: 0;
    opacity: 0.8;
    top: 50px;
  }

  .phones__media {
    display: block;
    visibility: visible;
    font-size: 11px;
    font-weight: normal;
    color: #e6362c;
  }

  .phones__title {
    display: none;
  }

  .header__languages {
    display: block;
  }

  .header__search {
    display: none;
  }

  .showcase__item {
    top: 30%;
    right: 0;
    max-width: 800px;
  }

  .showcase__item span {
    font-size: 30px;
  }

  .showcase__item p {
    padding-top: 0;
    font-size: 22px;
  }

  .showcase__item__description h2 {
    font-size: 26px;
  }

  .showcase__item__description {
    width: 440px;
    top: 24%;
    right: 7%;
  }

  .button {
    font-size: 14px;
    padding: 10px 10px;
  }

  .features {
    grid-template-columns: repeat(2, auto);
    grid-gap: 4rem;
    margin: 0 20px;
  }

  .footer__navigation {
    grid-template-columns: repeat(3, auto);
    grid-gap: 2rem;
  }

  .footer__social {
    padding-bottom: 15px;
  }

  .footer__copyright {
    padding-bottom: 20px;
  }

  .button__up {
    right: 18px;
  }
}

@media (min-width:300px) and (max-width:500px) {
  .header {
    margin: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .header__gumburger {
    visibility: visible;
  }

  .header__navigation {
    padding-top: 9px
  }

  .phones {
    padding-left: 28px;
  }

  .phones span {
    display: none;
  }

  .phones a {
    display: none;
  }

  .header__search {
    display: none;
  }

  #menu__toggle {
    opacity: 0;
  }

  .menu__btn {
    display: flex;
    align-items: center;
    position: relative;
    width: 26px;
    height: 26px;
    cursor: default;
    z-index: 1;
  }

  .menu__btn > span,
  .menu__btn > span:before,
  .menu__btn > span:after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #e6362c;
  }

  .menu__btn > span:before {
    content: '';
    top: -8px;
  }

  .menu__btn > span::after {
    content: '';
    top: 8px;
  }

  .main-navigation {
    text-transform: none;
    display: block;
    position: fixed;
    visibility: hidden;
    top: 90px;
    right: -50%;
    width: 150px;
    margin: 0;
    text-align: center;
    background-color: #fff;
    transition-duration: .25s;
  }

  .main-navigation__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    text-decoration: none;
  }

  .main-navigation__item:hover {
    color: #e6362c;
  }

  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }

  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }

  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }

  #menu__toggle:checked ~ .main-navigation {
    visibility: visible;
    z-index: 1;
    right: 0;
    opacity: 0.8;
  }

  .showcase {
    background-image: url("../img/media-fon.png");
    background-repeat: no-repeat;
  }

  .showcase__item {
    margin: 40% auto 10%;
    position: static;
    padding: 0 10px;
  }

  .showcase__item  h2 {
    font-size: 30px;
  }

  .showcase__item span {
    font-size: 45px;
  }

  .showcase.slick-initialized .slick-slide {
    display: none;
  }

  .showcase .slick-dots li {
    display: none;
  }

  .features {
    grid-template-columns: 1fr;
  }

  .features:after {
    display: none;
  }

  .features__item--quality,
  .features__item--warranty,
  .features__item--support,
  .features__item--materials {
    padding: 92px 2px 0 10px;
    margin: 0;
    background-position: center top
  }

  .products {

  }

  .products__item .button{
    transform: translateY(20px);
  }

  .products__item:before{
    transform: translateY(-20px);
  }

  .production h2 {
    padding-top: 50px;
  }

  .trust h2 {
    padding: 80px 0 20px;
    font-size: 22px;
  }

  .trust__partners {
    padding: 0 6px;
  }

  .slick-initialized .slick-slide img{
    width: 50%;
    height: 50%;
  }
  .trust::after {
    padding-bottom:  70px;
  }

  .footer__logo {
    padding: 30px 0 25px 0;
  }

  .footer__navigation {
    grid-template-columns: repeat(3, auto);
    padding: 0 20px 20px 20px;
  }

  .footer {
    padding-bottom: 20px:
  }

  .footer__copyright {
    padding-bottom: 10px;
  }

  .button__up {
    right: 15px;
    bottom: 65px;
  }
}
