@media (min-width:990px) and (max-width:1199px) {
  .header {
    justify-content: space-around;
  }

  .header__phones {
    margin: 0 5px;
  }

  .header__search {
    position: absolute;
    right: 0px;
    top: 50%;
  }

  .features::after {
    top: 14%;
  }

  .trust__partners img{
    width: 70%;
    height: 70%;
    padding: 0;
  }

  .footer__navigation {
    padding: 0 19% 30px 20%;
  }

  .button__up {
    right: 23px;
  }
}

@media (min-width:768px) and (max-width:989px) {
  .header {
    justify-content: space-around;
    margin: 10px;
  }

  .header__phones {
    margin: 0 10px;
  }

  .phones__title {
    display: block;
    visibility: visible;
    font-size: 10px;
  }

  .phones__media {
    display: none;
    visibility: hidden;
  }

  .main-navigation {
    display: grid;
    grid-template-columns: repeat(2, auto);
  }

  .showcase__item {
    right: 5%;
  }

  .trust__partners img {
    width: 100%;
  }

  .footer__navigation {
    grid-template-columns: repeat(3, auto);
  }

  .button__up {
    right: 40px;
  }
}

@media (min-width:499px) and (max-width:767px) {
  h2 {
    font-size: 29px;
  }

  p {
    font-size: 17px;
    font-weight: normal;
    line-height: 1.2;
    padding-top: 15px;
  }

  .header {
    justify-content: space-around;
    margin: 10px;
  }

  .phones {
    padding: 0;
  }

  .phones__number {
    background: none;
  }

  .languages {
    background: none;
  }

  .languages a {
    padding: 0 6px 0 25px;
  }

  .header__gumburger {
    visibility: visible;
  }

  #menu__toggle {
    opacity: 0;
  }

  .menu__btn {
    display: flex;
    align-items: center;
    position: relative;
    width: 26px;
    height: 26px;
    cursor: default;
    z-index: 1;
  }

  .menu__btn > span,
  .menu__btn > span:before,
  .menu__btn > span:after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #e6362c;
  }

  .menu__btn > span:before {
    content: '';
    top: -8px;
  }

  .menu__btn > span::after {
    content: '';
    top: 8px;
  }

  .main-navigation {
    text-transform: none;
    display: block;
    position: fixed;
    visibility: hidden;
    top: 60px;
    right: -50%;
    width: 150px;
    margin: 0;
    text-align: center;
    background-color: #fff;
    transition-duration: .25s;
  }

  .main-navigation__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    text-decoration: none;
  }

  .main-navigation__item:hover {
    color: #e6362c;
  }

  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }

  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }

  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }

  #menu__toggle:checked ~ .main-navigation {
    visibility: visible;
    z-index: 1;
    right: 0;
    opacity: 0.8;
  }

  .phones__media {
    display: block;
    visibility: visible;
    font-size: 11px;
    font-weight: normal;
    color: #e6362c;
  }

  .phones__title {
    display: none;
  }

  .header__languages {
    display: block;
  }

  .header__search {
    display: none;
  }

  .showcase__item {
    top: 30%;
    right: 9%;
    max-width: 301px;
  }

  .showcase__item span {
    font-size: 30px;
  }

  .button {
    font-size: 14px;
    padding: 10px 10px;
  }

  .features {
    grid-template-columns: repeat(2, auto);
  }

  .features:after {
    top: 15%;
  }

  .trust__partners img{
    width: 80%;
    height: 80%;
    padding: 0 10px;
  }

  .footer__navigation {
    grid-template-columns: repeat(3, auto);
    grid-gap: 2rem;
  }

  .footer__social {
    padding-bottom: 15px;
  }

  .footer__copyright {
    padding-bottom: 20px;
  }

  .button__up {
    right: 18px;
  }
}

@media (min-width:300px) and (max-width:500px) {
  .logo {
    margin: 0;
  }
  
  .header {
    margin: 0;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .header__gumburger {
    visibility: visible;
  }

  .phones {
    width: 32px;
    height: 40px;
    background-position: left;
    padding-left: 0px;
  }
  .phones span {
    display: none;
  }

  .phones a {
    display: none;
  }

  .header__search {
    display: none;
  }

  #menu__toggle {
    opacity: 0;
  }

  .menu__btn {
    display: flex;
    align-items: center;
    position: relative;
    width: 26px;
    height: 26px;
    cursor: default;
    z-index: 1;
  }

  .menu__btn > span,
  .menu__btn > span:before,
  .menu__btn > span:after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #e6362c;
  }

  .menu__btn > span:before {
    content: '';
    top: -8px;
  }

  .menu__btn > span::after {
    content: '';
    top: 8px;
  }

  .main-navigation {
    text-transform: none;
    display: block;
    position: fixed;
    visibility: hidden;
    top: 90px;
    right: -50%;
    width: 150px;
    margin: 0;
    text-align: center;
    background-color: #fff;
    transition-duration: .25s;
  }

  .main-navigation__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    text-decoration: none;
  }

  .main-navigation__item:hover {
    color: #e6362c;
  }

  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }

  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }

  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }

  #menu__toggle:checked ~ .main-navigation {
    visibility: visible;
    z-index: 1;
    right: 0;
    opacity: 0.8;
  }

  .showcase {
    background-image: url("../img/media-fon.png");
    background-repeat: no-repeat;
  }

  .showcase__item {
    margin: 40% auto 10%;
    position: static;
    padding: 0 10px;
  }

  .showcase__item  h2 {
    font-size: 30px;
  }

  .showcase__item span {
    font-size: 45px;
  }

  .features {
    grid-template-columns: 1fr;
  }

  .features:after {
    top: 25%;
  }

  .products__item::after {
    width: 90%;
    height: 90%;
  }

  .products__item .button{
    transform: translateY(20px);
  }

  .products__item:before{
    transform: translateY(-20px);
  }

  .trust h2 {
    padding: 80px 0 20px;
    font-size: 22px;
  }

  .trust__block .trust__partners img {
    width: 80%;
  }

  .trust__partners {
    padding: 0 6px;
  }

  .trust__partners img {
    padding: 0;
  }

  .trust__shevron__left {
    display: none;
  }

  .trust__shevron__right {
    display: none;
  }

  .trust::after {
    padding-bottom:  70px;
  }

  .footer__logo {
    padding: 30px 0 25px 0;
  }

  .footer__navigation {
    grid-template-columns: repeat(3, auto);
    padding: 0 20px 20px 20px;
  }

  .footer {
    padding-bottom: 20px:
  }

  .footer__copyright {
    padding-bottom: 10px;
  }

  .button__up {
    right: 15px;
    bottom: 65px;
  }
}
