
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #000;
  color: #fff;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #fff;
}

h2 {
  font-family: 'Segoe UI', sans-serif;
  text-transform: uppercase;
  font-size: 36px;
  letter-spacing: 5px;
  font-weight: normal;
  line-height: 1;
  padding: 2rem 0;
}

h3 {
  font-family: 'seguibl';
  font-size: 25px;
  padding: 13px 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}

p {
  font-size: 19px;
  font-weight: normal;
  line-height: 1.4;
}

.line{
  border-bottom:  solid 1px #4d4d4d;
  width: 90%;
  margin: auto;
  padding: 2rem;
}

.header__gumburger {
  visibility: hidden;
}

#menu__toggle {
  display: none;
}

.button__up {
  display: block;
  height: 40px;
  width: 40px;
  position: fixed;
  right: 133px;
  bottom: 85px;
  border-radius: 2px;
  background-color: #e6362c;
  background-image: url("../img/btn-up-arrov.png");
  background-repeat: no-repeat;
  background-position: center;
}

.container {
  margin: auto;
  max-width: 1430px;
  overflow: hidden;
  position: relative;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 15px 10px;
}


.phones {
  background-image: url("../img/header-phone.png");
  background-repeat: no-repeat;
  background-position-x: 1px;
  background-position-y: -3px;
  height: 30px;
  padding-left: 45px;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
}

.phones__title {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1.5;
  margin-top: -14px;
  font-weight: normal;
  color: #e6362c;
}

.phones__number  {
  font-weight: bold;
  font-size: 22px;
  line-height: 0.7;
  background-image: url("../img/chevron-down.png");
  background-repeat: no-repeat;
  background-position: center right;
  padding-right: 18px;
}

.phones__number a {
  position: relative;
}

.header__languages {
}

.languages {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  background-image: url("../img/chevron-down-red.png");
  background-repeat: no-repeat;
  background-position: 100% 50%;
  padding-left: 5px;
}

.languages img {
  height: min-content;
}

.languages a {
  padding: 0 15px 0 30px;
}

.languages__current--ua {
  background-image: url("../img/flag-Ukrainian.png");
  background-repeat: no-repeat;
  background-position: left;
}

.languages__selector__item--en {
  background-image: url("../img/flag-Ukrainian.png");
  background-repeat: no-repeat;
  display: none;
}

.languages__selector__item--pl {
  background-image: url("../img/flag-PL.png");
  background-repeat: no-repeat;
  display: none;
}

.languages__selector__item--ru {
  background-image: url("../img/flag-RU.png");
  background-repeat: no-repeat;
  display: none;
}

.header__navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-navigation {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 18px;
  visibility: visible;
}

.main-navigation__item {
  margin: 0 23px 0 11px;
}

.main-navigation__item--options-visible .main-navigation__item__options {
  display: block;
}

.main-navigation__item--options {
  margin-right: 43px
}

.main-navigation__item__title{
  position: relative;
}

.main-navigation__item__title:after {
  content: '';
  display: block;
  background-image: url("../img/chevron-down-nav.png");
  background-repeat: no-repeat;
  height: 7px;
  width: 10px;
  position: absolute;
  top: 13px;
  left: 100%;
  margin-left: 9px
}

.main-navigation__item__options {
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 50px;
  width: 100%;
  height: 50px;
  display: none;
}

.main-navigation__item__options a {
  color: #000;
}

.header__search {
  background-image: url("../img/header-search.png");
  background-repeat: no-repeat;
  height: 20px;
  width: 42px;
  right: -22px;
  top: 52px;
}

.showcase {
}

.showcase__item {
  width: 100%;
  min-width: 480px;
  position: relative;
  background: url("../img/fan.jpg") no-repeat center center;
  height: 770px;
}

.showcase__item__description {
  position: absolute;
  right: 19%;
  top: 27%;
  margin-left: 22px;
  max-width: 473px;
}

.showcase__item span{
  font-family: 'seguibl';
  font-size: 66px;
  line-height: 1.1;
  letter-spacing: 3px;
  text-transform: capitalize;
}

.showcase__item p {
  padding-top: 26px;
  padding-bottom: 41px;
  line-height: 1.8;
}

.button {
  color: #fff;
  background-color: #e6362c;
  text-transform: uppercase;
  font-size: 17px;
  padding: 9px 30px;
  border-radius: 3px;
  letter-spacing: 1px;
}

.button--small {
  font-size: 14px;
  padding: 9px 19px;
}

.features {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  padding: 60px 0 40px 0;
}

.features__item {
  background-repeat: no-repeat;
  background-position: top;
  padding-top: 140px;
}

.features__item--quality {
  background-image: url("../img/features-diamond.png");
}

.features__item--warranty {
  background-image: url("../img/features-warranty.png");
}

.features__item--support {
  background-image: url("../img/features-support.png");
}

.features__item--materials {
  background-image: url("../img/features-technology.png");
}

.features__item h3 {
  padding-bottom: 13px;
  letter-spacing: 1px;
}

.production {
  text-align: center;
  max-width: 945px;
  margin: 0 auto;
  padding: 2rem;
}

.production h2 {
  font-weight: bold;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  grid-gap: 1rem;
  text-align: center;
  padding: 2rem;
}

.products__item {
  width: 320px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 27px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.products__item:after {
  content: '';
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  transition: opacity 0.4s, background-size 0.4s;
  background-size: 100%;
}

.products__item:hover:after {
  opacity: 0.5;
  background-size: 105%;
}

.products__item:before{
  content: '';
  background-image: url("../img/products-icon-electric.png");
  background-repeat: no-repeat;
  height: 64px;
  width: 63px;
  z-index: 2;
  position: absolute;
  top: 70px;
  transform: translateY(-150px);
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
}

.products__item:hover:before{
  transform: translateY(0);
  opacity: 1;
}

.products__item--electric:after {
  background-image: url("../img/products-electro.jpg");
}

.products__item--water:after {
  background-image: url("../img/products-water.jpg");
}

.products__item--air:after {
  background-image: url("../img/products-air.jpg");
}

.products__item--chamber:after {
  background-image: url("../img/products-electro.jpg");
}

.products__item .button{
  z-index: 2;
  opacity: 0;
  transform: translateY(150px);
  transition: opacity 0.3s, transform 0.3s;
  position: absolute;
  top: 296px;
}

.products__item:hover .button {
  transform: translateY(0);
  opacity: 1;
}

.products__item p{
  position: absolute;
  top: 208px;
  z-index: 2;
  font-size: 14px;
  transform: translateY(150px);
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
}

.products__item:hover p {
  transform: translateY(0);
  opacity: 1;
}

.products__item h3 {
  z-index: 2;
  transition: font-size 0.2s;
}

.products__item:hover h3 {
  font-size: 19px;
  margin-bottom: 55px;
}

.trust {
  padding: 2rem;
}

.trust h2 {
  font-weight: bold;
  text-align: center;

}

.trust__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.trust__partners {
  width: calc(100% - 32px);
}

.trust__partners__item {
  width: 224px;
  height: 100px;
}

.trust__partners__item span {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.trust__shevron--right,
.trust__shevron--left {
  background-image: url("../img/trust-chevron-right.png");
  background-repeat: no-repeat;
  width: 16px;
  height: 29px;
  display: block;
}

.trust__shevron--left {
  background-image: url("../img/trust-chevron-left.png");
}

.footer{
  text-align: center;
}

.footer__logo {
  padding: 2rem 0;
}

.footer__navigation {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-gap: 1rem;
  padding: 2rem 0;
}

.footer a {
  text-transform: uppercase;
  font-size: 15px;
  color: #4d4d4d;
}

.footer p {
  font-size: 15px;
  color: #4d4d4d;
}

.footer__social {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.footer__social__item {
  background-repeat: no-repeat;
  display: block;
}

.footer__social__item--facebook {
  background-image: url("../img/footer-icon-facebook.png");
  width: 30px;
  height: 22px;

}

.footer__social__item--youtube {
  background-image: url("../img/footer-icon-youtube.png");
  width: 30px;
  height: 22px;
}

.footer_item {
  text-align: center;
  padding-bottom: 60px;
}

.footer__copyright {
  padding: 2rem 0 3rem 0;
}

.slick-dots{
  list-style-type: none;
  width: 100%;
  display: flex;
  height: 20px;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

.slick-dots button{
  font-size: 0;
  width: 13px;
  height: 13px;
  background-color: #333;
  border-radius: 50%;
  margin-right: 20px;
  border: 0 none;
  outline: none;
}

.slick-dots button[aria-selected="true"]{
  background-color: #e6362c;
  margin-left: -11px;
}
